@{
    ViewData["Title"] = "Chat Room";
}

@section Styles{
    <link href="~/css/chatroom.css" rel="stylesheet" />
}
<h2>Welcome to the Chat -[ @ViewBag.User ]</h2>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <label>User: <span id="userInput"> @ViewBag.User</span></label>

            <hr />

            <ul class="nav nav-tabs" id="ListChatTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="public-chat-tab" data-toggle="tab" href="#public-chat" role="tab" aria-controls="public-chat" aria-selected="true">Public Chat</a>
                </li>
            </ul>
            <div class="tab-content" id="ChatContent">
                <div class="tab-pane fade show active" id="public-chat" role="tabpanel" aria-labelledby="public-chat-tab">
                    <div class="box-chat-message">
                        <div class="message-wrapper">
                            <ul id="messagesList"></ul>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group row">
                        <div class="col-9"><input type="text" id="messageInput" class="form-control" value="/stock=aapl.us" placeholder="write message" /></div>
                        <div class="col-3"><input type="button" id="sendButton" class="btn btn-primary" value="Send Message" /></div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <label>Join Room</label>
            <input type="text" id="nameRoomInput" class="form-control" />
            <input type="button" id="createRoomButton" class="btn btn-primary" value="Let's Create Room" />
            @*<button type="button" id="testChatButton" class="btn btn-primary">Test Room</button>*@
            <hr />
            <h3>List Room</h3>
            <ul id="list-name-room" class="list-group">
                <li class="list-group-item default-list">Empty Room Chat</li>
            </ul>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
    <script src="~/js/chat-room.js"></script>
    @*<script src="~/js/testchat.js"></script>*@
}